/* Estilos para telas maiores que 720px */


/* Aqui você pode definir estilos para telas maiores, se necessário */


/* Estilos para telas menores que 720px */

@media screen and (max-width: 720px) {
    header {
        text-align: center;
        /* Centraliza o conteúdo do cabeçalho */
    }
    nav p {
        display: block;
        text-align: center;
        /* Centraliza os links de navegação */
    }
    main {
        padding: 20px;
        /* Adiciona um espaçamento interno no conteúdo principal */
    }
}


/* Estilos para telas menores que 320px */

@media screen and (max-width: 320px) {
    /* Ajustes específicos para telas muito pequenas, se necessário */
}